<!DOCTYPE html>

<html>
<head>
    <title>Notitie Overzicht</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleoverzicht.css') }}">
</head>
<body>
    <h2>Notitie Overzicht</h2>

     <a href="{{ url_for('homepage') }}" class="btn btn-primary">Terug naar Homepage</a>
     <a href="{{ url_for('docentenpagina') }}" class="btn btn-primary">Nieuwe notitie</a>

    <!-- Category Filter Form -->
    <form action="{{ url_for('filter_notes_by_category') }}" method="GET">
        <label for="categoryInput">Filter by Category:</label>
        <input type="text" id="categoryInput" name="category" placeholder="Enter category">
        <button type="submit">Filter by Category</button>
    </form>

    <!-- Search Form -->
    <form action="{{ url_for('filter_notes') }}" method="GET">
        <label for="searchInput">Search:</label>
        <input type="text" id="searchInput" name="search" placeholder="Search by title or content">
        <button type="submit">Filter</button>
    </form>

    <table border="1">
        <!-- Table Header -->
        <tr>
            <th>Titel</th>
            <th>Bron</th>
            <th>Publiek beschikbaar</th>
            <th>Docent ID</th>
            <th>Categorie</th>
            <th>Notitie</th>
        </tr>

        <!-- Table Body -->
        {% for note in notities %}
            <tr id="noteRow{{ note.id }}">
                <!-- Display Note Information -->
                <td><a href="{{ url_for('show_questions', note_id=note.note_id) }}">{{ note.title }}</a></td>
                <td><a href="{{ note.note_source }}" target="_blank">{{ note.note_source }}</a></td>
                <td>{{ note.is_public }}</td>
                <td>{{ note.teacher_id }}</td>
                <td>{{ get_category_omschrijving(note.category_id) }}</td>
                <td>{{ note.note }}</td>
                <td>
                  <form method="GET" action="{{ url_for('edit_note', note_id=note.note_id) }}">
                      <button type="submit">Edit</button>
                  </form>
              </td>
                  <td>
                      <a href="{{ url_for('delete_note', note_id=note.note_id) }}" class="btn btn-danger">Delete</a>
                  </td>

                
            </tr>
        {% endfor %}
    </table>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
          {{ pagination.links }}
      </ul>
    </nav>

    <a href="{{ url_for('export_csv') }}" class="btn btn-primary">Export to CSV</a>
</body>
</html>
